logs/
.DS_Store
*.pycgit
*.html
*.log
reports/
config/
screenshot/
*/__pycache__/*
*.iml
*.xml
pages/__pycache__/*
testcase/__pycache__/*
common/__pycache__/
data/cookie.txt
config/url.yaml
config/username.yaml
config/sendDtalk.yaml
pao.py
pao_m.py
zhao_pao.py
*.html
*.pyc
tests/
zhao_pao.py
qiuxitest.py
config/sendMail.yaml
estreport/*
venv/*
*/.DS_Store
common/op_windows.py
suda_url.py
pao2.py
test_qiye.py
test_sc.py
quxitest.py
drivers/chromedriver